---
import { type CollectionEntry, getCollection } from "astro:content"
import PostCard from "./PostCard.astro"

interface Props {
  postEntries: CollectionEntry<"posts">[]
}

const { postEntries } = Astro.props
---

<div class="grid md:grid-cols-2 gap-8">
  {
    postEntries.map((entry) => (
      <a class="group rounded-md bg-slate-800 p-3" href={entry.slug}>
        <PostCard post={entry.data} id={entry.id} />
      </a>
    ))
  }
</div>
