---
const title = "Welcome To ExcaliBear's Blog 👋"
const description = `I'm excited to share my journey and insights as a web developer with you.
Whether you're a fellow developer, or a tech enthusiast, I aim to bring you valuable content every week.
From posts describing what I have learned on a weekly basis to coding tips and tricks`
---

<h1 class="text-3xl font-bold">{title}</h1>
<p class="mt-6 text-xl leading-9">{description}</p>
