---
import { Image } from "astro:assets"

import DevPicture from "../../assets/images/dev-picture.png"
---

<div class="shrink-0">
  <Image
    class="hover:scale-105 h-80 w-80"
    src={DevPicture}
    alt="Avatar image"
  />
</div>
