---
import { Image } from "astro:assets"
import Picture from "../assets/images/404.png"
import PageBaseLayout from "../layouts/PageBaseLayout.astro"

const title = "404"
---

<PageBaseLayout title={title}>
  <div class="h-screen flex items-center justify-center">
    <div class="flex items-center justify-center flex-col gap-y-4">
      <Image class="h-80 w-80" src={Picture} alt="404" />
      <h2 class="text-2xl font-bold">Seems like you lost your way</h2>
      <a href="/" class="text-cyan-700 text-2xl font-bold"
        >Return to home page ⇾</a
      >
    </div>
  </div>
</PageBaseLayout>
