---
import PageBaseLayout from "../layouts/PageBaseLayout.astro"
import Hero from "../components/Hero/index.astro"
import RecentProjectsList from "../components/Projects/RecentProjectsList/index.astro"
import RecentPostsList from "../components/Posts/RecentPostsList.astro"

const title = "Home"
---

<PageBaseLayout title={title}>
  <Hero />
  <div class="mt-8 flex flex-col md:flex-row md:justify-between md:gap-x-24">
    <RecentProjectsList />
    <RecentPostsList />
  </div>
</PageBaseLayout>
