---
import NavLink from "./NavLink.astro"

const LINKS = [
  { text: "Projects", href: "/projects/1", isExternal: false },
  { text: "Posts", href: "/posts/1", isExternal: false },
  { text: "About", href: "/posts/post-1", isExternal: false },
  { text: "Contact", href: "mailto:amitrockach@gmail.com", isExternal: true },
]
---

<nav>
  <ul class="flex gap-x-3 font-medium text-gray-200">
    {LINKS.map((link) => <NavLink link={link} />)}
  </ul>
</nav>
