---
import NavLink from "./NavLink.astro"

const links = [
  { text: "Weekly Posts", href: "/weekly_posts" },
  { text: "About", href: "/about" },
  { text: "Projects", href: "/projects" },
  { text: "Contact", href: "/contact" },
]
---

<nav>
  <ul class="flex gap-x-3 font-medium text-gray-200">
    {links.map((link) => <NavLink text={link.text} href={link.href} />)}
  </ul>
</nav>
